@import '/src/assets/styles/mixins';
@import '/src/assets/styles/variables';

.auth {
	margin-top: $gap * 3;
	display: flex;
	justify-content: center;
	margin-top: $gap;

	.authWindow {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: $radius;
		background-color: $bg-block;
	}

	form {
		padding: 25px 35px;
		width: 40%;
		min-width: 500px;
		// margin: auto;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	h1 {
		text-align: center;
		font-weight: 600;
		font-size: 2em;
		margin-bottom: 1.5em;
	}
	.footer {
		width: 90%;
		text-align: right;
		padding-bottom: 5px;
		> button {
			margin-top: 1rem;
			background-color: transparent;
			border: 0;
			color: rgba(#fff, 70%);
			font-size: 16px;
			justify-self: end;
			&:hover {
				color: green;
			}
		}
	}
}

@media (max-width: 600px) {
	.auth {
		margin-top: $gap * 3;
		display: flex;
		justify-content: center;
		margin-top: $gap;
		form {
			min-width: 380px;
		}

		.authWindow {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-radius: $radius;
			background-color: $bg-block;
		}
	}
}
