@import '/src/assets/styles/variables';
@import '/src/assets/styles/mixins';

.wrapper {
	@include dashboard-section;
	background-color: $bg-block;
	border-radius: $radius;
	text-align: left;
	margin-top: 30px;
	> div {
		// padding: 30px;
	}
	.line {
	}
	.heading {
		// display: block;
		// text-align: left;
	}
	> div {
		display: flex;
		flex-direction: column;
		//
		> div {
			// display: flex;
			// align-items: end;
		}

		> button {
			background-color: transparent;
			border: none;
			color: white;
			margin-top: 20px;
			&:hover {
				color: black;
			}
		}
	}
}
