$font: "Rubik", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"rel="stylesheet");

$primary: #917cff;
$secondary: #08f0c8;
$bg-block: #0f1112;
$text-gray: #4f5157;
$gray: #181a1e;
$white: #fdfdfd;
$background: #1b1d1f;

$radius: 0.7rem;
$gap: 30px;

$default-font: "Rubik", sans-serif;
